
# Misc
include LICENSE.txt COPYING.LESSER docs/Makefile docs/README.txt

# Documentation
recursive-include docs/build/html *
recursive-include docs/source *
recursive-include tests *.py
recursive-include bin *.py
